
@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/Theme/assets/global/plugins/fontsGoogleApis/FontsGoogleApis.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/datatables/KeyTable/css/keyTable.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/datatables/Editor/css/editor.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/icheck/skins/square/_all.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/amcharts/amcharts/plugins/export/export.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/css/components.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/css/plugins.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/layouts/layout/css/layout.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/layouts/layout/css/custom.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/global/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Content/Theme/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" id="style_color">

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body id="BdyLayoutLogin" class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <input id="NameControllerERP" name="NameControllerERP" type="hidden" value="Home">
    <div class="page-wrapper">
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <div class="top-menu">
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="page-container">
            <div class="page-content-wrapper">
                <div style="padding-left:100px; padding-right:100px; min-height:0px;">
                    <div id="BodyApp">
                        <div class="note note-danger bg-red bg-font-red" style="display:none" id="errorFromController">
                            <i class="fa fa-warning"></i>
                            <p class="inline-block" id="strErrorFromController"></p>
                        </div>
                        <div class="erp-box-mn-wrp">
                            @Html.Action("CrearEmpleado", "Inicio")
                        </div>
                    </div>
                </div>
                <div class="ajax_loader" id="PageLoader" style="display: none;">
                    <i class="loader" id="loader"></i>
                </div>
            </div>
        </div>
        <div class="page-footer">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.SoloNumeros').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });
        });
    </script>

</body>
</html>
